.cardMovie {
    border-radius: 10px 10px 0 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    max-height: 600px;
}

.cardMovie .imgMovie img {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-radius: 10px 10px 0 0;
}

.cardMovie p {
    background-color: transparent;
    color: white;
    max-height: 50px;
    overflow: hidden;
}