.headHome {
    width: 100%;
    height: 90vh;
    background-size: cover;
    box-shadow: rgba(18, 18, 18, 0.35) 0px -550px 36px -28px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.headHome h5 {
    margin-top: 130px;
    background-color: transparent;
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.headHome h1 {
    margin-top: 30px;
    background-color: transparent;
}

.youCan {
    width: 1000px;
    margin-top: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.youCan h6 {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

.headHome button {
    all: unset;
    margin-top: 90px;
    background-color: transparent;
    background-color: #1CB561;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
}

.headHome button:hover {
    background-color: #188f4d;
    color: rgb(226, 224, 224);
}